@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);
.container-fluid{
    margin-top: 15px;
}
table, th, td {
    border: .5px solid #e4e4e4;
    text-overflow: ellipsis;
}
.table{
    margin: 0 !important;
    background-color: #f7f7f7;
    font-family: 'Nanum Gothic', sans-serif;
}
th{
    border-bottom: 0.5px solid #e4e4e4 !important;
    text-align: center;
    vertical-align: middle !important;
}
label{
    float: left;
    text-align: left;
}
.time{
    width: 10%;
}
.two{
    height: 60px;
}
.three{
    height: 90px;
}
.wrapper{
    padding: 20px;
}
.wrapper > *{
    margin-bottom: 5px;
}
.tbl-head{
    height: 37px;
}
.timetable-item{
    position: absolute;
    width: calc(18% - 0.5px);
    border: 0;
    padding: 6px;
    color: #fff;
    outline: 0;
    text-align: left;
}
.tbl-wrap{
    padding: 0;
    position: relative;
}
.main-controls{
    display: none;
}
.main-controls > h1{
    font-size: 20px;
}
.not-user{
    display: none;
}
.is-user{
    display: block;
}
.username{
    font-weight: bold;
}
.rec{
    display: none;
    width: 100%;
}