.container-fluid{
    margin-top: 15px;
}
table, th, td {
    border: 1px solid black;
}
.table{
    margin: 0 !important;
}
th{
    border-bottom: 1px solid black !important;
    text-align: center;
    vertical-align: middle !important;
}
.time{
    width: 10%;
}
.two{
    height: 60px;
}
.three{
    height: 90px;
}
.wrapper{
    padding: 20px;
}
.tbl-head{
    height: 37px;
}
.timetable-item{
    position: absolute;
    width: 18%;
    border: 0;
    
}
.tbl-wrap{
    padding: 0;
    position: relative;
}
.main-controls{
    display: none;
}
.main-controls > h1{
    font-size: 20px;
}