.mon-1-s{
    top: 37px;
    left: calc(10% - 1px);
}
.mon-2-s{
    top: 127px;
    left: calc(10% - 1px);
}
.mon-3-s{
    top: 217px;
    left: calc(10% - 1px);
}
.mon-4-s{
    top: 277px;
    left: calc(10% - 1px);
}
.mon-5-s{
    top: 339px;
    left: calc(10% - 1px);
}
.mon-6-s{
    top: 427px;
    left: calc(10% - 1px);
}
.mon-7-s{
    top: 517px;
    left: calc(10% - 1px);
}
.mon-8-s{
    top: 577px;
    left: calc(10% - 1px);
}
.mon-9-s{
    top: 637px;
    left: calc(10% - 1px);
}
.mon-10-s{
    top: 697px;
    left: calc(10% - 1px);
}
.mon-11-s{
    top: 757px;
    left: calc(10% - 1px);
}
/************************************/
.tue-1-s{
    top: 37px;
    left: calc(28% - 1px);
}
.tue-2-s{
    top: 127px;
    left: calc(28% - 1px);
}
.tue-3-s{
    top: 217px;
    left: calc(28% - 1px);
}
.tue-4-s{
    top: 277px;
    left: calc(28% - 1px);
}
.tue-5-s{
    top: 339px;
    left: calc(28% - 1px);
}
.tue-6-s{
    top: 427px;
    left: calc(28% - 1px);
}
.tue-7-s{
    top: 517px;
    left: calc(28% - 1px);
}
.tue-8-s{
    top: 577px;
    left: calc(28% - 1px);
}
.tue-9-s{
    top: 637px;
    left: calc(28% - 1px);
}
.tue-10-s{
    top: 697px;
    left: calc(28% - 1px);
}
.tue-11-s{
    top: 757px;
    left: calc(28% - 1px);
}
/************************************/
.wed-1-s{
    top: 37px;
    left: calc(46% - 1px);
}
.wed-2-s{
    top: 127px;
    left: calc(46% - 1px);
}
.wed-3-s{
    top: 217px;
    left: calc(46% - 1px);
}
.wed-4-s{
    top: 277px;
    left: calc(46% - 1px);
}
.wed-5-s{
    top: 339px;
    left: calc(46% - 1px);
}
.wed-6-s{
    top: 427px;
    left: calc(46% - 1px);
}
.wed-7-s{
    top: 517px;
    left: calc(46% - 1px);
}
.wed-8-s{
    top: 577px;
    left: calc(46% - 1px);
}
.wed-9-s{
    top: 637px;
    left: calc(46% - 1px);
}
.wed-10-s{
    top: 697px;
    left: calc(46% - 1px);
}
.wed-11-s{
    top: 757px;
    left: calc(46% - 1px);
}
/************************************/
.thu-1-s{
    top: 37px;
    left: calc(64% - 1px);
}
.thu-2-s{
    top: 127px;
    left: calc(64% - 1px);
}
.thu-3-s{
    top: 217px;
    left: calc(64% - 1px);
}
.thu-4-s{
    top: 277px;
    left: calc(64% - 1px);
}
.thu-5-s{
    top: 339px;
    left: calc(64% - 1px);
}
.thu-6-s{
    top: 427px;
    left: calc(64% - 1px);
}
.thu-7-s{
    top: 517px;
    left: calc(64% - 1px);
}
.thu-8-s{
    top: 577px;
    left: calc(64% - 1px);
}
.thu-9-s{
    top: 637px;
    left: calc(64% - 1px);
}
.thu-10-s{
    top: 697px;
    left: calc(64% - 1px);
}
.thu-11-s{
    top: 757px;
    left: calc(64% - 1px);
}
/************************************/
.fri-1-s{
    top: 37px;
    left: calc(82% - 1px);
}
.fri-2-s{
    top: 127px;
    left: calc(82% - 1px);
}
.fri-3-s{
    top: 217px;
    left: calc(82% - 1px);
}
.fri-4-s{
    top: 277px;
    left: calc(82% - 1px);
}
.fri-5-s{
    top: 339px;
    left: calc(82% - 1px);
}
.fri-6-s{
    top: 427px;
    left: calc(82% - 1px);
}
.fri-7-s{
    top: 517px;
    left: calc(82% - 1px);
}
.fri-8-s{
    top: 577px;
    left: calc(82% - 1px);
}
.fri-9-s{
    top: 637px;
    left: calc(82% - 1px);
}
.fri-10-s{
    top: 697px;
    left: calc(82% - 1px);
}
.fri-11-s{
    top: 757px;
    left: calc(82% - 1px);
}
/*****************************************/
/*****************************************/
.fri-11-e{
    bottom: 1px;
    right: 1px;
}
.fri-10-e{
    bottom: 61px;
    right: 1px;
}
.fri-9-e{
    bottom: 121px;
    right: 1px;
}
.fri-8-e{
    bottom: 181px;
    right: 1px;
}
.fri-7-e{
    bottom: 241px;
    right: 1px;
}
.fri-6-e{
    bottom: 301px;
    right: 1px;
}
.fri-5-e{
    bottom: 391px;
    right: 1px;
}
.fri-4-e{
    bottom: 481px;
    right: 1px;
}
.fri-3-e{
    bottom: 541px;
    right: 1px;
}
.fri-2-e{
    bottom: 601px;
    right: 1px;
}
.fri-1-e{
    bottom: 691px;
    right: 1px;
}
/*****************************************/
.thu-11-e{
    bottom: 1px;
    right: calc(18% + 1px);
}
.thu-10-e{
    bottom: 61px;
    right: calc(18% + 1px);
}
.thu-9-e{
    bottom: 121px;
    right: calc(18% + 1px);
}
.thu-8-e{
    bottom: 181px;
    right: calc(18% + 1px);
}
.thu-7-e{
    bottom: 241px;
    right: calc(18% + 1px);
}
.thu-6-e{
    bottom: 301px;
    right: calc(18% + 1px);
}
.thu-5-e{
    bottom: 391px;
    right: calc(18% + 1px);
}
.thu-4-e{
    bottom: 481px;
    right: calc(18% + 1px);
}
.thu-3-e{
    bottom: 541px;
    right: calc(18% + 1px);
}
.thu-2-e{
    bottom: 601px;
    right: calc(18% + 1px);
}
.thu-1-e{
    bottom: 691px;
    right: calc(18% + 1px);
}
/*****************************************/
.wed-11-e{
    bottom: 1px;
    right: calc(36% + 1px);
}
.wed-10-e{
    bottom: 61px;
    right: calc(36% + 1px);
}
.wed-9-e{
    bottom: 121px;
    right: calc(36% + 1px);
}
.wed-8-e{
    bottom: 181px;
    right: calc(36% + 1px);
}
.wed-7-e{
    bottom: 241px;
    right: calc(36% + 1px);
}
.wed-6-e{
    bottom: 301px;
    right: calc(36% + 1px);
}
.wed-5-e{
    bottom: 391px;
    right: calc(36% + 1px);
}
.wed-4-e{
    bottom: 481px;
    right: calc(36% + 1px);
}
.wed-3-e{
    bottom: 541px;
    right: calc(36% + 1px);
}
.wed-2-e{
    bottom: 601px;
    right: calc(36% + 1px);
}
.wed-1-e{
    bottom: 691px;
    right: calc(36% + 1px);
}
/*****************************************/
.tue-11-e{
    bottom: 1px;
    right: calc(54% + 1px);
}
.tue-10-e{
    bottom: 61px;
    right: calc(54% + 1px);
}
.tue-9-e{
    bottom: 121px;
    right: calc(54% + 1px);
}
.tue-8-e{
    bottom: 181px;
    right: calc(54% + 1px);
}
.tue-7-e{
    bottom: 241px;
    right: calc(54% + 1px);
}
.tue-6-e{
    bottom: 301px;
    right: calc(54% + 1px);
}
.tue-5-e{
    bottom: 391px;
    right: calc(54% + 1px);
}
.tue-4-e{
    bottom: 481px;
    right: calc(54% + 1px);
}
.tue-3-e{
    bottom: 541px;
    right: calc(54% + 1px);
}
.tue-2-e{
    bottom: 601px;
    right: calc(54% + 1px);
}
.tue-1-e{
    bottom: 691px;
    right: calc(54% + 1px);
}
/*****************************************/
.mon-11-e{
    bottom: 1px;
    right: calc(72% + 1px);
}
.mon-10-e{
    bottom: 61px;
    right: calc(72% + 1px);
}
.mon-9-e{
    bottom: 121px;
    right: calc(72% + 1px);
}
.mon-8-e{
    bottom: 181px;
    right: calc(72% + 1px);
}
.mon-7-e{
    bottom: 241px;
    right: calc(72% + 1px);
}
.mon-6-e{
    bottom: 301px;
    right: calc(72% + 1px);
}
.mon-5-e{
    bottom: 391px;
    right: calc(72% + 1px);
}
.mon-4-e{
    bottom: 481px;
    right: calc(72% + 1px);
}
.mon-3-e{
    bottom: 541px;
    right: calc(72% + 1px);
}
.mon-2-e{
    bottom: 601px;
    right: calc(72% + 1px);
}
.mon-1-e{
    bottom: 691px;
    right: calc(72% + 1px);
}